body {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
	color: #2C5696;
	line-height: 145%;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/*päise stiil*/
header {
	height: 300px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.beauty {
	display: flex;
	flex-direction: row;
	z-index: -1;
	margin-right: 40px;
}
.main, .light, .shape {
	width: 300px;
	height: 200px;
}
.main {
	background-color: #2C5696;
	transform: rotate(-15deg);
	z-index: -1;
}
.light {
	position: absolute;
	right: 300px;
	background-color: #00A6E6;
	transform: rotate(-45deg);
	top: 0;
}
.img {
	width: 342px;
	height: 271px;
	background: url(img/foto.png) center center;
	background-size: cover;
	clip-path: polygon(85% 0%, 100% 71%, 15% 100%, 0% 29%);
	z-index: 1;
	position: absolute;
	right: 360px;
	top: 0;
}
.logo{
	position: absolute;
	height: 64px;
	width: auto;
	align-self: center;
	right: 40px;
}

/*üle lehe peamiste elementide stiil*/
a{
	color: #00A6E6;
}
a:active {
    text-decoration: none;
}
a:focus {
	outline: 1px solid #00A6E6;
}
a:visited {
	color: #1380BD;
}
a:hover{
	text-decoration: none;
	color: #00A6E6;
}
h1 {
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 48px;
	line-height: 3rem;
	/*margin-top: 120px;*/
}
h2 {
	font-size: 18px;
	font-weight: 700;
}
h3 {
    font-size: 12px;
    font-weight: lighter;
}
p {
	font-size: 16px;
	margin-top: 24px;
}
.info, .search, .data{
	width: 80vw;
	margin-right: auto;
	margin-left: auto;
}
.info, .data{
	margin-bottom: 80px;
}

 /*otsingu stiil*/
.search{
   display:flex;
   align-items: center;
   margin-bottom: 40px;
   background-color: #f1f1f1;
   padding: 24px 8px;
}
.search-icon{
    position:absolute;
    z-index: 1;
    padding: 0px 16px;
    align-self: center;
}
.searchfield {
	width: 50%; 
	padding: 8px 48px; 
	border: 2px solid #f1f1f1; 
	border-radius: 40px;
}
.search:focus-within{
	color: #00A6E6;
}
input:focus{
	outline: none;
	border-color: #00A6E6;
}

/*tabeli stiil*/
table {
	font-size: 16px;
	margin-bottom: 80px;
	border-collapse: collapse;
}
th, td{
	width: auto;
	height: 40px;
	padding: 8px 16px;
}
th{
	background-color: #2C5696;
	color: #ffffff;
	font-weight: normal;
	text-align: left;
}
tr{
	word-wrap: initial;
	border-top: #f1f1f1 solid 2px;
}
td{
	text-align: center;
}
td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4){
	text-align: left;
}
table th{
	position: sticky;
	top: 0;
}

/*jaluse stiil*/
footer {
	bottom: 0;
	height: 160px;
    display: flex;
	justify-content: flex-end;
	margin-right: 80px;
}
footer p {
    position: absolute;
    color: #ffffff;
	text-align: center;
	align-self: center;
	font-weight: 500;
	width: 300px;
}
.shape {
    background-color: #2C5696;
    z-index: -1;
	transform: rotate(-15deg);
}

/*pop-up akna stiil*/
.overlay{
    position: fixed;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 300ms ease-in-out;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.modal {
    max-width: 480px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 24px;
    color: #2C5696;
    border-radius: 2px;
}
.term {
    display: flex;
    flex-direction: block;
    align-items: baseline;
}
.term p {
    padding-left: 8px;
}
.modal h3, .modal h2, .modal h1, .modal p {
    margin: 0;
}
.modal h3:nth-of-type{
    margin-bottom: 8px;
}
.modal-content{
    padding-top: 40px;
}
.modal-content-p , .modal-content-p-sub{
    padding-top: 8px;
}
.close {
  position: absolute;
  top: 16px;
  right: 24px;
  transition: all 200ms ease-in-out;
  font-size: 36px;
  text-decoration: none;
}
.close:visited {
	color: #2C5696;
}
.close:hover {
	color: #00A6E6;
  }

/*seadme laiusega kohandumine*/
/*@media screen and (min-resolution: 120dpi){
	body{
		transform: scale(0.8,0.8);
		transform-origin: top center;
	}
}
@media screen and (min-resolution: 140dpi){
	body{
		transform: scale(0.7,0.7);
		transform-origin: top center;
	}
}*/

@media screen and (max-width: 1600px){
	.data {
		width: 98vw;
	}
}

@media screen and (max-width: 1350px) {
	.searchfield {
		width: 100%;
	}

    .shape {
        display: none;
	}

	footer{
		width: 100%;
		position: relative;
		justify-content: center;
		background-color: #2C5696;
		right: initial;
	}

	footer p {
		position: relative;
	}

	.data {
		width: 90vw;
		overflow-x: scroll;
	}

	table {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	table th{
		position: sticky;
		top: 0;
	}

}
	
@media screen and (max-width: 760px){
	.empty {
		display: none;
	}

	.data {
		width: 80vw;
		margin-left: auto;
		margin-right: auto;
		overflow-x: auto;
	}

	/*kuva kõik tabeli elemendid plokina*/
	table, tbody, th, td, tr{
		display: block;
	}
		
	/*peida tabeli päis, aga mitte display: none;, accessibility eesmärgil)*/
	table th{
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	/*kahe tabel rea vahel laiem joon*/
	tr{
		border-bottom: 16px solid #f1f1f1;
	}
	   
	/*käitu nagu rida*/
	td{
		border: none;
		border-bottom: 1px solid #f1f1f1;
		position: relative;
		padding-left: 40%;
		text-align: left;
		display: flex;
	    align-items: center;
	}
		
	/*tabeli päise asemel*/
	td:before{
		position: absolute;
		left: 2px;
		width: 30%;
		padding-left: 8px;
		white-space: nowrap;
		height: 100%;
		display: flex;
		align-items: center;
		font-weight: normal;
	}
		
	/*lisan pealkirjad päise asemel*/
	td:nth-of-type(1):before {content: "Valdkond";}
	td:nth-of-type(2):before {content: "Tase";}
	td:nth-of-type(3):before {content: "Kood";}
	td:nth-of-type(4):before {content: "Õppekava";}
	td:nth-of-type(5):before {content: "1. aasta PÕ";}
	td:nth-of-type(6):before {content: "1. aasta SÕ";}
	td:nth-of-type(7):before {content: "2. aasta PÕ";}
	td:nth-of-type(8):before {content: "2. aasta SÕ";}
	td:nth-of-type(9):before {content: "3. aasta PÕ";}
	td:nth-of-type(10):before {content: "3. aasta SÕ";}
	td:nth-of-type(11):before {content: "4. aasta PÕ";}
	td:nth-of-type(12):before {content: "4. aasta SÕ";}
	td:nth-of-type(13):before {content: "5. aasta PÕ";}
	td:nth-of-type(14):before {content: "5. aasta SÕ";}
	td:nth-of-type(15):before {content: "6. aasta PÕ";}
	td:nth-of-type(16):before {content: "6. aasta SÕ";}
}

@media screen and (max-width: 600px) {
	.img {
		display: none;
	}
    .modal h1 {
   		font-size: 24px;
    }
    .modal h2 {
   		font-size: 14px;
    }
    .modal h3, .modal p {
   		font-size: 12px;
    }
    .close {
   		font-size: 24px;
    }
    .modal-content{
    	padding-top: 16px;
    }

}