body {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
	font-family: 'Rubik', sans-serif;
	color: #2C5696;
	line-height: 145%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

header {
	height: 300px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.beauty {
	display: flex;
	flex-direction: row;
	z-index: -1;
	margin-right: 40px;
}

.main, .light, .shape {
	width: 300px;
	height: 200px;
}

.main {
	background-color: #2C5696;
	transform: rotate(-15deg);
	z-index: -1;
}

.light {
	position: absolute;
	right: 300px;
	background-color: #00A6E6;
	transform: rotate(-45deg);
}

.img {
	width: 342px;
	height: 271px;
	background: url(img/foto.png) center center;
	background-size: cover;
	clip-path: polygon(85% 0%, 100% 71%, 15% 100%, 0% 29%);
	z-index: 1;
	position: absolute;
	right: 360px;
}
	
.logo{
	position: absolute;
	height: 64px;
	width: auto;
	align-self: center;
	right: 40px;
}
a{
	text-decoration: none;
	color: #00A6E6;
}
h1 {
	font-weight: 700;
	font-size: 36px;
	margin-bottom: 48px;
	line-height: 3rem;
	margin-top: 120px;
}
p {
	font-size: 16px;
	margin-top: 24px;
}

.info {
	width: 80vw;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 60px;
}

.levels{
	margin-bottom: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.collapsible {
	background-color: #ffffff;
	cursor: pointer;
	padding: 18px;
	width: 80vw;
	border: none;
	text-align: center;
	outline: none;
	font-size: 24px;
	font-weight: 500;
	color: #2C5696;
 }
  
.active, .collapsible:hover {
	background-color: #f1f1f1;
 }

.collapsible:after {
	font-family: 'Material Icons';
	font-weight: normal;
	content: 'keyboard_arrow_down';
	font-size: 24px;
	float: right;
 }
  
.active:after {
	font-family: 'Material Icons';
	font-weight: normal;
	content: 'keyboard_arrow_up';
 }
  
  
.content {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	max-height: 0; 
	overflow: hidden;
	transition: max-height 0.2s ease-out;
 }

/*Table style*/
table {
	font-size: 16px;
	margin-bottom: 80px;
	border-collapse: collapse;
}
th, td{
	width: auto;
	height: 40px;
	padding: 8px 16px;
}
th{
	background-color: #2C5696;
	color: #ffffff;
	font-weight: normal;
}

tr{
	word-wrap: initial;
}

tr:nth-child(odd) {
	background-color: #f1f1f1;
  }
  
/*tr:hover{
	background-color: rgba(16, 32, 100, 0.1);
}*/

footer {
	bottom: 0;
	height: 160px;
    display: flex;
	justify-content: flex-end;
	margin-right: 80px;
}

footer p {
    position: absolute;
    color: #ffffff;
	text-align: center;
	align-self: center;
	font-weight: 500;
	width: 300px;
}

.shape {
    background-color: #2C5696;
    z-index: -1;
	transform: rotate(-15deg);
}

/*Responsivnes*/

@media screen and (max-width:1700px) {
	.content{
		width: 98%;
		margin-left: auto;
		margin-right: auto;
		padding: 0 8px;
	}
}

@media screen and (max-width: 1380px) {
	.content{
		overflow-x: auto;
	}

    .shape {
        display: none;
	}

	footer{
		width: 100%;
		position: relative;
		justify-content: center;
		background-color: #2C5696;
		right: initial;
	}

	footer p {
		position: relative;
	}
}

@media screen and (max-width: 600px) {
	.img {
		display: none;
	}
}	
